<div class="header-media-wrap">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="assets/logoblue.png" height="34" class="logo">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a>Buy</a>
          </li>
          <li>
            <a>Rent</a>
          </li>
          <li>
            <a>Mortage</a>
          </li>
          <li>
            <a>Login</a>
          </li>
          <li class="active btn-blue">
            <a>Sign In
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="header-media">
    <div class="banner-parallax ">
      <div class="banner-bg-wrap" style="transform: translate3d(0px, 51.6px, 0px);">
        <div class="banner-inner" style="background-image: url(assets/bgimg.png);"></div>
      </div>
    </div>
    <div class="banner-caption">
      <h1>Discover your next adventure</h1>
      <h2 class="banner-sub-title">Get started in few clicks</h2>
      <div class="banner-search-main">
        <form autocomplete="off" class="form-inline">
          <div class="form-group">
            <div class="search input-search input-icon col-md-9">
              <input type="text" class="form-control" id="search" placeholder="Search..." (keyup)='keyUp.next($event)'>
              <div class="auto-complete">
                <ul>
                  <li *ngFor="let item of selectedMerchantsList">
                    <a class="heading">{{item.name}} ,
                      <small class="small-heading">{{item.address_city}}</small> ,
                      <small class="small-heading">{{item.address_state}}</small> ,
                      <small class="small-heading">{{item.address_zip}}</small>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="search-btn col-md-3">
              <button class="btn btn-secondary">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 list-margin-top">
      <div class="col-md-3">
        <h4>Safe Neighborhoods</h4>
        <h6>New York, NY</h6>
      </div>
      <div class="col-md-9"></div>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-12">
      <div class="col-md-3">
        <img src="assets/img2.jpg" class="img">
        <div class="border">
          <h4>$ 3,700,000</h4>
          <h6>Upper East Side ,New York,NY</h6>
        </div>
      </div>
      <div class="col-md-3">
        <img src="assets/img2.jpg" class="img">
        <div class="border">
          <h4>$ 3,700,000</h4>
          <h6>Upper East Side ,New York,NY</h6>
        </div>
      </div>
      <div class="col-md-3">
        <img src="assets/img2.jpg" class="img">
        <div class="border">
          <h4>$ 3,700,000</h4>
          <h6>Upper East Side ,New York,NY</h6>
        </div>
      </div>
      <div class="col-md-3">
        <img src="assets/img2.jpg" class="img">
        <div class="border">
          <h4>$ 3,700,000</h4>
          <h6>Upper East Side ,New York,NY</h6>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12 list-margin-top">
      <div class="col-md-3">
        <h4>Safe Neighborhoods</h4>
        <h6>New York, NY</h6>
      </div>
      <div class="col-md-9"></div>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-12">
      <div class="col-md-3">
        <img src="assets/img2.jpg" class="img">
        <div class="border">
          <h4>$ 3,700,000</h4>
          <h6>Upper East Side ,New York,NY</h6>
        </div>
      </div>
      <div class="col-md-3">
        <img src="assets/img2.jpg" class="img">
        <div class="border">
          <h4>$ 3,700,000</h4>
          <h6>Upper East Side ,New York,NY</h6>
        </div>
      </div>
      <div class="col-md-3">
        <img src="assets/img2.jpg" class="img">
        <div class="border">
          <h4>$ 3,700,000</h4>
          <h6>Upper East Side ,New York,NY</h6>
        </div>
      </div>
      <div class="col-md-3">
        <img src="assets/img2.jpg" class="img">
        <div class="border">
          <h4>$ 3,700,000</h4>
          <h6>Upper East Side ,New York,NY</h6>
        </div>
      </div>
    </div>
  </div>
</div>