html,
body {
    font-family: 'Open Sans', sans-serif !important;
}

.navbar {
    background: #fff !important;
    border-bottom: 1px solid #eee !important;
}

.list-margin-top {
    margin-top: 20px;
}

.banner-caption h1,
.banner-caption h2 {
    color: #ffffff;
}

.navbar-default .navbar-nav>.active>a {
    background: transparent;
}

.banner-caption {
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 100%;
    text-align: center
}

.banner-caption h2 {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 10px;
    font-weight: 300;
    text-transform: inherit;
    text-align: center;
}

.banner-search-main .form-group .search-btn button {
    background: #1295cd;
    color: #fff;
    outline: none
}

.banner-search-main .search-btn {
    padding-left: 10px;
}

.banner-search-main .form-group .bootstrap-select {
    display: table-cell;
    vertical-align: middle;
    width: 300px !important;
}

.banner-inner {
    width: 100%;
    background-size: cover;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-inner:before {
    background-color: #000000;
    opacity: 0.4;
}

.banner-inner:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
}

.banner-search-main .form-group .search {
    display: inline-block;
    vertical-align: middle;
}

.banner-search-main .btn-secondary {
    padding: 6px 30px;
    height: 42px;
    width: 100%;
}

.banner-search-main .form-control {
    box-shadow: none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    text-align: left;
    border: none;
    border-left: 1px solid #dbdbdb;
    padding: 20px;
}

.banner-parallax {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.auto-complete ul {
    width: 95%;
    position: absolute;
    z-index: 5001001;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 4px 4px;
    outline: none;
    margin-top: 1px;
    text-align: left;
    padding: 0
}

.auto-complete ul li a {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    padding: 10px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
}

.auto-complete ul li {
    list-style: none;
    padding: 0px;
    cursor: pointer;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #eee;
}

.banner-parallax .banner-bg-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    visibility: inherit;
    z-index: 0;
    opacity: 1;
}

.header-media-wrap,
.header-media {
    position: relative;
}

.banner-search-main {
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.66);
    padding: 10px;
    max-width: 810px;
    border-radius: 4px;
    margin-top: 28px;
}

.form-inline .form-group {
    display: flex;
    margin-bottom: 0;
    vertical-align: middle;
}

.banner-search-main .form-group .bootstrap-select {
    display: table-cell;
    vertical-align: middle;
    width: 300px !important;
}

.navbar-brand {
    padding: 9px 15px !important;
}

.small-heading {
    color: grey;
    font-weight: 500;
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}

.navbar>.container .navbar-brand-centered,
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}

.navbar {
    background: #eee;
    color: #fff;
    border: none
}

.img {
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.padding {
    padding: 20px;
}

h4 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(71, 78, 82);
    padding-left: 10px;
}

h6 {
    color: #869099;
    font-size: 13px;
    line-height: 1.5;
    padding-left: 10px;
}

a:hover {
    text-decoration: none;
}

.border {
    border: 1px solid #e6e6e6;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.shadow {
}